<!DOCTYPE html>
<html lang="en">
<!-- page-register -->
<head>
  

    <title>Focus Admin: Widget</title>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/semi/resources/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/helper.css" rel="stylesheet">
    <link href="/semi/resources/css/style.css" rel="stylesheet">
    
 <script type="text/javascript" src="/semi/resources/js/jquery-3.6.0.min.js"></script>
 <script type="text/javascript">
 function dupIDCheck(){
	 $.ajax({
			url: "/semi/dupid",
			type: "post",
			data: {userid: $("#userid").val()},
			success: function(data){
				console.log("success : " + data);
				if(data == "ok"){
					alert("사용 가능한 아이디입니다.");
					$("#upwd").focus();
				}else{
					alert("이미 사용중인 아이디입니다.");
					$("#userid").select();
				}
			},
			error: function(jqXHR, textStatus, errorThrown){
				console.log("error : " + jqXHR + ", " 
						+ textStatus + ", " + errorThrown);
			}
		});
		
		//버튼 클릭이벤트 취소 (submit 으로 클릭 전달 막기 위함)
		return false;
	}
 function validate(){
	    var pwValue = document.getElementById("userpw").value;
		var pwValue2 = document.getElementById("userpw2").value;
		
		if(pwValue !== pwValue2){
			alert("암호와 암호확인의 값이 일치하지 않습니다.");
			document.getElementById("userpw2").value = "";
			document.getElementById("userpw").select();
			return false;  //전송 취소함
		}
		
		return true;  //전송보냄
	}
 
 </script>
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>Focus</span></a>
                        </div>
                        <div class="login-form">
                            <h4>회원가입</h4>
                            <form action="/semi/enroll" method="post" onsubmit="return validate();">
                                <div class="form-group">
                                    <label>이름</label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="이름">
                                </div>
                                 <div class="form-group">
                                    <label>아이디</label>
                                    <input type="text" class="form-control" name="userid" id="userid" placeholder="아이디" required>
                                    <input type="button" value="중복체크" onclick="return dupIDCheck();">
                                   
                                </div>
                                 <div class="form-group">
                                    <label>비밀번호</label>
                                    <input type="password" name="userpw" id="userpw" class="form-control" placeholder="비밀번호" required>
                                </div>
                                 <div class="form-group">
                                    <label>비밀번호 확인</label>
                                    <input type="password" name="userpw2" id="userpw2" class="form-control" placeholder="비밀번호" required>
                                </div>
                                 <div class="form-group">
                                     <label>주민번호</label>
                                      <br>
                                  <input type="text"class="form-control" name="userrn" id="userrn" placeholder="주민번호" required>
                                </div>
                                <div class="form-group">
                                    <label>이메일</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                                 <div class="form-group">
                                    <label>전화번호</label>
                                    <input type="phone" name="phone" id="phone" class="form-control" placeholder="전화번호">
                                </div>
                                 <div class="form-group">
                                    <label>주소</label>
                                    <input type="text" name="address" id="address" class="form-control" placeholder="주소" required>
                                </div>
                                 <div class="form-group">
                                    <label>수신동의</label>
                                    <Br>
                                    <label> <input type="radio" value="Y" name="smsagr" id="smsagr"  checked >네.</label> &nbsp;
                                    <label> <input type="radio" value="N" name="smsagr" id="smsagr"  >아니오.<label>
                                </div>
                              
                                <div class="checkbox">
                                    <label>
										<input type="checkbox"> 이용약관 동의
									</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">가입하기</button>
                                
                                <div class="register-link m-t-15 text-center">
                                    <p>이미 등록이 되어있나요? ? <a href="/semi/views/member/login.jsp"> 로그인</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>