<!DOCTYPE html>
<html lang="en">
<!-- page-register -->
<head>
  

    <title>Focus Admin: Widget</title>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/semi/resources/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/semi/resources/css/lib/helper.css" rel="stylesheet">
    <link href="/semi/resources/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>Focus</span></a>
                        </div>
                        <div class="login-form">
                            <h4>회원가입</h4>
                            <form>
                                <div class="form-group">
                                    <label>이름</label>
                                    <input type="text" class="form-control" placeholder="이름">
                                </div>
                                 <div class="form-group">
                                    <label>아이디</label>
                                    <input type="text" class="form-control" placeholder="아이디">
                                    <input type="button" value="중복체크"  style="background-color: white; ">
                                   <!-- 중복체크 필요하나요? 저희 가입전에 아이디 체크하는데 -->
                                </div>
                                 <div class="form-group">
                                    <label>비밀번호</label>
                                    <input type="password" class="form-control" placeholder="비밀번호">
                                </div>
                                 <div class="form-group">
                                    <label>비밀번호 확인</label>
                                    <input type="password"class="form-control" placeholder="비밀번호">
                                </div>
                                 <div class="form-group">
                                    <label>주민번호</label>
                                    <div style="width:300; height:100; padding:1" >
                                   <input type="text" maxlength="6" value="" onkeyup="onlyNumber(this)">
									&nbsp; <label>-</label> &nbsp;
									<<input type="text" maxlength="6" value="" onkeyup="onlyNumber(this)">
									</div>
                                </div>
                                
                                <div class="form-group">
                                    <label>이메일</label>
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                 <div class="form-group">
                                    <label>전화번호</label>
                                    <input type="phone" class="form-control" placeholder="전화번호">
                                </div>
                                 <div class="form-group">
                                    <label>주소</label>
                                    <input type="text" class="form-control" placeholder="주소">
                                </div>
                                 <div class="form-group">
                                    <label>수신동의</label>
                                    <Br>
                                    <label> <input type="radio" value="yes" name="users"  checked>네.</label> &nbsp;
                                    <label> <input type="radio" value="no" name="users"  >아니오.<label>
                                </div>
                              
                                <div class="checkbox">
                                    <label>
										<input type="checkbox"> 이용약관 동의
									</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">가입하기</button>
                                
                                <div class="register-link m-t-15 text-center">
                                    <p>이미 등록이 되어있나요? ? <a href="/semi/views/member/login.jsp"> 로그인</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>